*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(banner...jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px ;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background:#f44336 ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;


}
.text-box h1{
    font-size:62px ;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

nav.fa{
    display:none ;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;


    }
    .nav-links ul li{
       display: block; 

    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top:0;
        right: -200px;
        text-align:left ;
        z-index: 2;
        transition:1s ;

    }

    nav.fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;


    }
    .nav-links ul{
        padding: 30px;

    }

}
    /*----- Behaviour patterns -----*/

.sadew{
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 100px;
    background-image:url(background.webp);
    background-size: cover;
    position: relative;
}
h1{
   font-size: 36px;
   font-weight: 600;
   text-align: center;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center; 
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 25px;
}
.sadew-col{
   flex-basis: 31%;
   background: #a7afad;
   border-radius: 10px;
   margin-bottom: 5%;
   padding: 20px 12px;
   box-sizing: border-box;
   transition: 0.5s;
}
.h3{
    text-align: center;
    font-weight: 600;
    margin:10px 0;
}
.sadew-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px) {
    .row{
       flex-direction: column; 
    }
}
/*-----induwara-----*/

.induwara{
    width: 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 50px;
    background-color: #777;

}
.induwara-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.induwara-col img{
    width: 100%;
    display:block ;
}
.mylife{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition:0.5s;

}
.mylife:hover{
    background:aqua;
}
.mylife h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.mylife:hover h3{
    bottom: 49%;
    opacity: 1;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    background-color:white;

}
.footer{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}



/*------------turtle categories -------*/

.sub-header{
    height: 100vh;
    width: 100%;
    background-image:url(turtlecate.webp);
    background-position: center;
    background-size: cover;
    text-align: center;


}
.sub-header h1{
    margin-top: 100px;

}
.shoindu{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(gg.jpg);
    background-position: center;
    background-size: cover;

}

.shoindu-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.shoindu-col img{
    width: 100%;

}
.shoindu-col h1{
    padding-top: 0;
}
.shoindu-col p{
    padding: 15px 0 25px;
}
.mybaby{
    width: 100%;
    max-width: 100%;
     text-align: center;
    padding-top: 100px;
    background-image:url(diff.webp);
    background-size: cover;
}

.mybaby-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background:#fff3f3;
    padding: 20px 12px;
    box-sizing: border-box;

}

.mybaby-col img{
  width: 100%;
  border-radius: 10px;
}

.mybaby-col p{
    padding: 0;
}

.mybaby-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;

}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/*---------hikkaduwa turtle hatchery-------*/


.sub-header1{
    height: 100vh;
    width: 100%;
    background-image: url(hikkaduwa.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.sub-header1 h1{
    margin-top: 100px;
}
.chathu{
    max-width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(bk.jpg);
    background-position: center;
    background-size: cover;
    

}

.chathu-col{
    flex-basis: 48%;
    padding: 20px 2px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    box-sizing: border-box;

    
}

.chathu-col img{
    width: 50%;
    border-radius: 10px;
}

.chathu-col h1{
    padding-top: 0;
}

.chathu-col p{
    padding: 15px 0 25px;

}
.row{
    margin-top: 5%;
    display: flex;
    

}

.shobi{
    max-width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(bk\ 2.jpg);
    background-position: center;
    background-size: cover;
    

}

.shobi-col{
    flex-basis: 48%;
    padding: 20px 2px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    box-sizing: border-box;

    
}

.shobi-col img{
    width: 50%;
    border-radius: 10px;
}

.shobi-col h1{
    padding-top: 0;
}

.shobi-col p{
    padding: 15px 0 25px;

}
.row{
    margin-top: 5%;
    display: flex;
    

}

/*--------------threats to turtles------------*/


.sub-header2{
    height: 100vh;
    width: 100%;
    background-image: url(mainr.webp);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.sub-header2 h1{
    margin-top: 100px;
}


.niro{
    max-width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(bk3.jpg);
    background-position: center;
    background-size: cover;
    

}

.niro-col{
    flex-basis: 48%;
    padding: 20px 2px;
    margin-bottom: 5%;
    text-align: left;
    background: #b6dff1;
    box-sizing: border-box;

    
}

.niro-col img{
    width: 50%;
    border-radius: 10px;
}

.niro-col h1{
    padding-top: 0;
}

.niro-col p{
    padding: 15px 0 25px;

}
.row{
    margin-top: 5%;
    display: flex;
    

}

.niran{
    max-width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(bk4.jpg);
    background-position: center;
    background-size: cover;
    

}

.niran-col{
    flex-basis: 48%;
    padding: 20px 2px;
    margin-bottom: 5%;
    text-align: left;
    background: #b6dff1;
    box-sizing: border-box;

    
}

.niran-col img{
    width: 50%;
    border-radius: 10px;
}

.niran-col h1{
    padding-top: 0;
}

.niran-col p{
    padding: 15px 0 25px;

}
.row{
    margin-top: 5%;
    display: flex;
    

}

.malisha{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(bk6.jpg);
    background-position: center;
    background-size: cover;

}

.malisha-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.malisha-col img{
    width: 100%;

}
.malisha-col h1{
    padding-top: 0;
}
.malisha-col p{
    padding: 15px 0 25px;
}
   

   /*------------other turtle hatcheries----------*/

   .sub-header3{
    height: 100vh;
    width: 100%;
    background-image: url(bk5.JPG);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.sub-header2 h1{
    margin-top: 100px;
}
.anupama{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(bk6.jpg);
    background-position: center;
    background-size: cover;

}

.anupama-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.anupama-col img{
    width: 100%;

}
.anupama-col h1{
    padding-top: 0;
}
.anupama-col h2{
    padding-top: 0;
}


.anupama-col p{
    padding: 15px 0 25px;
    font-weight: bold;
}

.misti{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(bk7.jpg);
    background-position: center;
    background-size: cover;

}

.misti-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.misti-col img{
    width: 100%;

}

.misti-col h1{
    padding-top: 0;
}
.misti-col h2{
    padding-top: 0;
}
.misti-col h3{
    padding-top: 0;
}




.misti-col p{
    padding: 15px 0 25px;
    font-weight: bold;
}


/*------------purchase and donate---------*/

.sub-header4{
    height: 100vh;
    width: 100%;
    background-image: url(bk9.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.sub-header2 h1{
    margin-top: 100px;
}


.sillani{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(ba.png);
    background-position: center;
    background-size: cover;

}

.sillani-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.sillani-col img{
    width: 100%;

}
.sillani-col h1{
    padding-top: 0;
}
.sillani-col h2{
    padding-top: 0;
}

.sillani-col p{
    padding: 15px 0 25px;
    font-weight: bold;
}



@media(max-width:700px){
    .husband h1{
        font-size: 24px;
    }
}

.bottle{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(dd.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;

}

.bottle-col{
    flex-basis: 48%;
    padding: 30px 2px;
    text-align: center;
}

.bottle-col img{
    width: 100%;

}
.bottle-col h1{
    padding-top: 0;
    text-align: center;
}
.bottle-col p{
    margin-right: 10px;
    
}

.sad{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border:1px solid #fff;
    padding: 13px 35px;
    font-size: 14px;
    background: transparent;
    position: absolute;
    cursor:pointer;
    margin-left: 35px;
    width: 50px;
}

.sad:hover{
    border:1px solid #777;
    background: #c97d7d;
    transition: 1s;
    position:absolute;

}

.og{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 5px;
    font-size: 14px;
    background: #17191a;
    position:absolute;
    cursor: pointer;
    margin-left: 400px;
    width: 500px;
    margin-top: 50px;
}

.og h2{
    margin-left: 5px;
    color:#f3f2f2;
    
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%);
    padding-bottom: 70px;
    box-sizing:border-box;
    text-transform: capitalize;
    outline: none; border:none;
    transition:all .2s linear;

}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #2ecc71 60%, #27ae60 40.1%);
  }
  
  .container form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  
  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .container form .row .col{
    flex:1 1 250px;
  }
  
  .container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .container form .row .col .inputBox{
    margin:15px 0;
  }
  
  .container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  
  .container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background: #27ae60;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .container form .submit-btn:hover{
    background: #fff;
  }

    